# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Dependency directories
dependencies/
bin/

# Environment variables
.env

# Build artifacts
dist/
build/
out/

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
